[submodule "minishell"]
	path = minishell
	url = https://github.com/sideseal/minishell.git
[submodule "miniRT/miniRT"]
	path = miniRT/miniRT
	url = https://github.com/sideseal/miniRT.git
[submodule "webserv"]
	path = webserv
	url = https://github.com/HyeonjanX/webserv.git
