/* 폰트 */
@font-face {
  font-family: 'Symtext';
  src: url('../fonts/Symtext.ttf') format('truetype');
}

/* 기본 스타일 */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 전체 스타일 */
body {
  background: #171717;
  color: #faf2dd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 숨김 클래스 */
.hidden {
  display: none;
}

/* 전체 화면 */
.full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

/* Bootstrap 오버로딩 스타일 */

/* Button */
.btn.btn-outline-light {
  background-color: #131313;
}
.btn.btn-outline-light:hover {
  background-color: #faf2dd;
}

.setting-option .btn.btn-success {
  background-color: #28a745;
}
.setting-option .btn.btn-success:hover {
  background-color: #198754;
}

.setting-option .btn.btn-danger {
  background-color: #dc3545;
}
.setting-option .btn.btn-danger:hover {
  background-color: #bb2d3b;
}

/* Modal */
.modal-header {
  border-bottom: none;
}
.modal-content {
  background-color: #171717;
  color: #faf2dd; /* 색깔 이쁜데? */
  border: 1px solid green;
  padding: 10px;
}
.modal-body input {
  background-color: #171717;
  color: #faf2dd;
  border: 1px solid #faf2dd;
}
.modal-body input::placeholder {
  color: gray;
}
.modal-body input:focus {
  background-color: #171717;
  color: #faf2dd;
  outline: none;
  box-shadow: none;
}
.modal-footer {
  border-top: none;
}

/* Dropdown */
.dropdown-menu-dark {
  background-color: #171717;
  color: #faf2dd;
  border: 1px solid green;
}

/* Toast */
.toast-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toast .btn-close {
  margin-left: auto;
  margin-right: 10px;
}

#successToast .toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #198754;
  color: white;
}

#failureToast .toast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dc3545;
  color: white;
}

/* Pagination */
.modal-content.modal-history-content,
.modal-content.modal-friend-content,
.modal-content.modal-friend-request-content {
  min-height: 84vh;
}

.modal-body.modal-history-list-body,
.modal-body.modal-friend-list-body,
.modal-body.modal-friend-request-list-body {
  padding: 1rem;
}

.modal-history-list ul,
.modal-friend-list-list ul,
.modal-friend-request-list ul {
  list-style-type: none;
  padding-left: 0;
}

.modal-friend-list-item,
.modal-friend-request-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background: #333;
  border-radius: 10px;
  height: min(10vw, 10vh);
  margin-bottom: 1vh;
}

.modal-friend-request-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.modal-login-status {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  aspect-ratio: 1/1;
  margin: min(1vw, 1vh);
}
.modal-login-status.modal-login {
  background-color: green;
}
.modal-login-status.modal-logout {
  background-color: red;
}
.modal-login-status.modal-offline {
  background-color: gray;
}

.pagination-container {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 5vh;
}

.total-pages {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagination {
  position: absolute;
  right: 0;
}

.page-link {
  color: #faf2dd;
  background-color: #171717;
  border: 1px solid green;
}

/* Close */
.btn-close {
  margin-left: auto;
}

/* Profile */
.modal-player-profile {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  text-align: center;
}

.modal-profile-photo {
  max-width: 40%;
  max-height: 40%;
  aspect-ratio: 1/1;
}

.modal-profile-photo img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: min(1vw, 1vh);
  gap: min(2vw, 2vh);
}

.modal-profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.modal-profile-name {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: min(1vw, 1vh);
}

.modal-profile-name span {
  padding-right: 1vw;
  font-size: 3vw;
  color: #fff;
}

.modal-profile-stats {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: min(1vw, 1vh);
  color: white;
  border-radius: 8px;
  background-color: #222;
  width: 100%;
}

.win-rate,
.win,
.loss {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}
.modal-win-rate span,
.modal-win span,
.modal-loss span {
  font-size: min(2vw, 2vh);
}
.modal-win-rate label,
.modal-win label,
.modal-loss label {
  display: block;
  font-size: min(1vw, 1vh);
}
