[mysqld]
skip-networking=0
skip-host-cache
skip-name-resolve

log-basename=mariadb
log-error=/dev/stderr
log_output='FILE'
general_log=1
general_log_file=/var/lib/mysql/mysql_general_log

character-set-server=utf8mb4