.modal-header {
  border-bottom: none; /* 헤더의 하단 보더 제거 */
}

.modal-footer {
  border-top: none; /* 푸터의 상단 보더 제거 */
}

.modal-body {
  padding: 2rem; /* 본문의 패딩 조정 */
}

.modal-body .form-control {
  background-color: #121212; /* 입력 필드의 배경색 설정 */
  border: none; /* 입력 필드의 보더 제거 */
}

.modal-body .form-check-input {
  background-color: #121212; /* 라디오 버튼의 배경색 설정 */
  border-color: #121212; /* 라디오 버튼의 보더 색 설정 */
}

.btn-success {
  background-color: #28a745; /* 시작 버튼의 배경색 설정 */
}

/* 모달 버튼의 너비와 높이를 조정합니다 */
.modal-footer .btn {
  padding: 0.5rem 1rem; /* 버튼의 패딩 조정 */
  font-size: 1.2rem; /* 버튼의 글자 크기 조정 */
}

/* 라디오 버튼의 체크 표시 색상 변경 */
.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}

/* 라디오 버튼의 포커스 표시 색상 변경 */
.form-check-input:focus {
  border-color: #8fd19e;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.modal-content {
  background-color: #000; /* 배경색을 검은색으로 설정 */
  color: #fff; /* 글자색을 흰색으로 설정 */
  border-radius: 10px; /* 모달의 모서리를 둥글게 설정 */
}

#email2faModal .form-control {
  background-color: #121212; /* 입력 필드의 배경색 */
  color: #fff; /* 입력 필드의 글자색 */
  border: none; /* 테두리 제거 */
}

#gameSettingModal {
  position: absolute; /* 모달을 절대 위치로 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬을 위해 변환 적용 */
  /* 모달 크기 관련 스타일 */
}

#tournamentSettingModal {
  position: absolute; /* 모달을 절대 위치로 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 정확한 중앙 정렬을 위해 변환 적용 */
  /* 모달 크기 관련 스타일 */
}
