.friend-request {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
}

.friend-request-title {
  margin-bottom: 1vh;
}

.friend-request-title span {
  font-size: min(3vw, 3vh);
  color: #fff;
}

.friend-request-list {
  width: 100%;
  background: #333;
  color: white;
  border-radius: 10px;
  min-height: min(8vw, 8vh);
}

.friend-request-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friend-request-list li {
  position: relative;
  border-radius: 10px;
}
.friend-request-list li::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 5%;
  right: 5%;
  border-bottom: 1px solid gray;
}
.friend-request-list li:last-child::after {
  border-bottom: none;
}

.friend-request-item {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: min(8vw, 8vh);
}

.friend-request-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: min(2vw, 2vh);
}

.friend-request-photo {
  display: flex;
  align-items: center;
  max-width: min(5vw, 5vh);
  margin: min(1vw, 1vh);
  aspect-ratio: 1/1;
}

.friend-request-photo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friend-request-name {
  display: flex;
  align-items: center;
}

.friend-request-name span {
  font-size: min(2.3vw, 2.3vh);
  color: #fff;
}

.friend-request-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-right: min(0.5vw, 0.5vh);
}

.friend-request-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: min(0.5vw, 0.5vh);
  border-radius: 10px;
  padding: min(1vw, 1vh);
  border: none;
  cursor: pointer;
}

.friend-request-btn img {
  width: min(3.5vw, 3.5vh);
  filter: invert(100%);
  object-fit: contain;
  margin: auto;
  align-self: center;
}

/* .friend-request-btn button.accept {
  background-color: green;
}

.friend-request-btn button.decline {
  background-color: rgb(224, 8, 8);
} */

.friend-request-profile {
  display: inline-flex;
  text-align: center;
  margin-left: auto;
  margin-right: 1vw;
}

/* .friend-request-profile-btn {
  padding: 1vw;
  max-width: 8vw;
  border: none;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: min(1.8vw, 1.8vh);
} */

.friend-request-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.invite-friends,
.friend-request-view-all {
  text-align: center;
  margin-top: 1vh;
  margin-left: 1vw;
}

/* .invite-friends-btn {
  padding: 1vw;
  max-width: 15vw;
  border: none;
  border-radius: 10px;
  border: 1px solid green;
  background: green;
  color: #fff;
  cursor: pointer;
  font-size: min(1.8vw, 1.8vh);
}

.friend-request-view-all-btn {
  padding: 1vw;
  max-width: 9vw;
  border: none;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: min(2vw, 2vh);
} */
