.player-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.profile-photo {
  max-width: 80%;
  max-height: 80%;
  aspect-ratio: 1/1;
}

.profile-photo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  margin-left: 1vw;
}

.profile-name {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.profile-name span {
  padding-right: 1vw;
  font-size: 3vw;
  color: #fff;
}

.edit-profile-btn {
  background: transparent;
  cursor: pointer;
  filter: invert(100%);
  margin-left: auto;
}

.edit-profile-btn img {
  width: min(3.5vw, 3.5vh);
  height: min(3.5vw, 3.5vh);
}

.photo-upload button {
  font-size: min(1.5vw, 1.5vh); /* 버튼 글자 크기 */
  color: #fff; /* 글자 색상 */
  background-color: transparent; /* 배경 색상 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  padding-left: min(3vw, 3vh); /* 버튼 내부 여백 */
  position: relative;
}
.photo-upload button::before {
  content: '';
  width: min(2vw, 2vh);
  height: min(2vw, 2vh);
  position: absolute;
  left: 3px;
  top: 50%;
  filter: invert(100%);
  transform: translateY(-50%); /* Y축 기준으로 -50% 만큼 이동하여 중앙 정렬 */
  background: url('../../../assets/images/icon/camera-fill.svg') no-repeat
    center center;
  background-size: contain;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* 내부 요소들 간격 조정 */
  position: relative;
  width: min(30vw, 30vh);
  height: auto;
  background: #000;
  border-radius: 15px;
  color: #fff; /* 글자 색깔 */
  padding: min(1vw, 1vh); /* 내부 여백 */
  margin-top: 10px;
  align-items: center;
  border: 6px solid #333;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.win-rate,
.win,
.loss {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}
.win-rate span,
.win span,
.loss span {
  font-size: min(2vw, 2vh); /* 숫자 크기 */
}
.win-rate label,
.win label,
.loss label {
  display: block;
  font-size: min(1vw, 1vh); /* 라벨 크기 */
}
